body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8f8f8;
   
}

.container1 {
    margin-top: 50px;   
    display: flex;
    justify-content: space-between;
}

.cart-left {
    width: 60%;
}
section{

    min-height: 500px;
}
.cart-right {
    width: 35%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left; 
    color:black;
}

th {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.product-image {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Làm cho hình ảnh trở thành hình tròn */
    object-fit: cover; /* Đảm bảo hình ảnh không bị méo khi được cắt thành hình tròn */
}

input[type="number"] {
    width: 60px;
}

.cart-summary {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cart-summary h2 {
    margin-top: 0;
    color: orange;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}

.summary-item.total {
    font-weight: bold;
    color: orange;
    border-bottom: none;
}

.checkout-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.checkout-button:hover {
    background-color: darkorange;
}
.gia{
    font-size: 20px;
    color:rgb(255, 170, 42);
}